!/.vscode/
/.vscode/*
!/Archived/
/Archived/*
!/Logs/
/Logs/*
!/Design/
/Design/*
!/builders/
/builders/*
!/.ssh/
/.ssh/*
!/isos/
/isos/*
!/DSC/
/DSC/*
hyperv.ps1
configs.example.ps1
*lab*
*test*
config.json